body{
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: arial;
}

.dark{
  background-color: black;
  color: white;
}

.light{
  background-color: white;
  color:black
}


